installer.iso
disk.img
disk.img.xz
alpine-cloud.qcow2
alpine-pristine.img
*.qcow2
cloud-init.iso
vm-key
vm-key.pub
test-key
test-key.pub
qemu.pid
uefi-vars.fd
virtiofsd.pid
virtiofs.sock
vm-init.log
shared/*
!shared/.gitkeep
!shared/README.md
