installer.iso
disk.img
disk.img.xz
alpine-cloud.qcow2
*.qcow2
cloud-init.iso
vm-key
vm-key.pub
test-key
test-key.pub
qemu.pid
virtiofs.sock.pid
uefi-vars.fd
virtiofsd.pid
virtiofs.sock
vm-init.log
vm-console.log
vfkit.pid
vfkit.log
shared/*
!shared/.gitkeep
!shared/README.md
package/
release/
*.flag
