Exasol Personal Deployment Overview
Deployment directory: {{ .DeploymentDir }}
{{- if .DeploymentID }}
Deployment ID: {{ .DeploymentID }}
{{- end }}
Deployment State: {{ .DeploymentState }}
{{- with .Presets }}
Infrastructure preset: {{ if .Infrastructure.DisplayName }}{{ .Infrastructure.DisplayName }}{{ else if .Infrastructure.Name }}{{ .Infrastructure.Name }}{{ else if .Infrastructure.Path }}{{ .Infrastructure.Path }}{{ else }}{{ .Infrastructure.Selector }}{{ end }}
Installation preset: {{ if .Installation.DisplayName }}{{ .Installation.DisplayName }}{{ else if .Installation.Name }}{{ .Installation.Name }}{{ else if .Installation.Path }}{{ .Installation.Path }}{{ else }}{{ .Installation.Selector }}{{ end }}
{{- end }}
{{- with .Deployment }}
{{- if .ClusterSize }}
Cluster Size: {{ .ClusterSize }}
{{- end }}
{{- if .ClusterState }}
Cluster State: {{ .ClusterState }}
{{- end }}
{{- end }}
